*{
    padding: 0;
    margin: 0;
}


body{
    font-family: "Gabarito", sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
}

.navbar__s1__tittle{
    color: #c198ff;

}

.navbar__s2{
padding: 10px;
border: solid black 1px;
border-radius: 30px;
width: 50%;
display: flex;
gap: 10px;
align-items: center;

}

.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    
}
.navbar__s2 input:focus{
outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
}

.categories{
    padding: 10px;
display: flex;
border-bottom: solid black 1px;
justify-content: space-around;

}

.categories p{
    background-color: #c198ff;
    color: azure;
    border-radius: 30px;
    padding: 10px;
}
.saleimage img{ 
    width: 100%;

}
.recommanded{
    padding: 10px;
    
}

.recommandedcontainer{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 10px;
}
.course__card{
    width: 350px;
}

.course__card img{
width: 100%;
height: 50%;

}
.topics{
    padding: 10px;
}

.topics__container{
display: flex;
gap: 10px;
margin-top: 10px;
flex-wrap: wrap;

}
.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popularsection{
    padding: 10px;
}

.popular__container{
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 10px;
}

.footer{
    padding: 30px;
    background-color: black;
    color: azure;
}



.footer__one{
    display: flex;
    gap: 10px;

}

.footer__one p{
    margin: 20px;
}
.footer__Two{
    margin: 20px;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
justify-content:space-around;    
}
